body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  color: #333333;
  margin: 0;
  padding-top: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
  color: #333333;
}

.file-managment-h1 {
  padding-top: 40px;
}

h2 {
  font-size: 1.8em;
  margin-bottom: 15px;
  color: #555555;
}

p {
  font-size: 1.3em;
  margin-bottom: 10px;
  margin-top: 10px;
  color: #555555;
}

form {
  background: #ffffff;
  padding: 10px 20px 20px 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

input {
  width: 94.5%;
  padding: 10px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
  background-color: #ffffff;
  color: #333333;
  transition: box-shadow 0.2s, border-color 0.2s;
}

input::placeholder {
  color: #888888;
}

input:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  background-color: #ffffff;
}

select {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
  background-color: #ffffff;
  color: #333333;
}

select option {
  background-color: #ffffff;
  color: #333333;
}

.link-container {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin: 0px;
}

.text-link {
  font-size: 1em;
  font-weight: bold;
  color: #555555;
  text-decoration: none;
  transition: color 0.3s ease, text-shadow 0.3s ease;
}

.text-link:hover {
  color: #007bff;
  text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.menu-button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
}

.menu-button:hover {
  background: #0056b3;
}

.menu-button-outline {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background: white;
  color: #007BFF;
  border: 2px solid #007BFF;
  border-radius: 5px;
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s, color 0.3s;
}

.menu-button-outline:hover {
  background: #007BFF;
  color: white;
}

.green-btn {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
  background: #28a745;
  color: white;
  transition: background 0.3s;
}

.green-btn:hover {
  background: #218838;
}

.red-btn {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
  background: #dc3545;
  color: white;
  transition: background 0.3s;
}

.red-btn:hover {
  background: #c82333;
}

/* #logout-btn {
  position: fixed;
  top: 10px;
  right: 20px;
  padding: 10px;
  background: #dc3545;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  transition: background 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 120px;
}

#logout-btn:hover {
  background: #c82333;
}

#logout-btn:disabled {
  background: #e0e0e0;
  cursor: not-allowed;
  color: #888888;
} */

#message {
  position: fixed;
  top: 10px;
  left: 10px;
  background-color: #28a745;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-weight: bold;
  z-index: 1000;
  opacity: 0;
  transition: opacity 0.5s ease-out;
}

#message.visible {
  opacity: 1;
}

#sharedFilesList {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  margin-top: 20px;
  width: 80%;
  text-align: left;
}

#sharedFilesList li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  color: #333333;
  padding: 10px;
  margin: 10px 0;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

#sharedFilesList li:hover {
  background-color: #f8f9fa;
}

#sharedFilesList li button {
  font-size: 0.8em;
  width: 75px;
  margin: 5px 5px 5px 0px;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  line-height: 1;
}

#sharedFilesList li button:hover {
  background-color: #0056b3;
}

nav#navigation-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #007bff; /* Цвет навигационного бара */
  height: 50px;
  padding: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

#nav-buttons {
  display: flex;
  justify-content: center;
  gap: 15px; /* Расстояние между кнопками */
}

/* .nav-button {
  background-color: #c82333;
} */
.nav-button {
  background: none;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  height: 50px;
}

.nav-button:hover {
  background-color: rgba(0, 0, 0, 0.2);
  width: auto;
}

/* nav#navigation-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #007bff;
  padding-bottom: 10px;
  height: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
} */
/* 
nav#navigation-menu button {
  background: none;
  background-color: #ffffff;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

nav#navigation-menu button:hover {
  background-color: #0056b3;
  color: #ffffff;
} */

.profile-content-wrapper {
  display: flex;
  flex-direction: column; /* Располагаем элементы вертикально */
  align-items: center; /* Центрируем элементы внутри нового div */
  padding: 0;
  margin: 0;
  width: 100%;
}

.avatar-wrapper {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 20px;
  margin-top: 10px;
}

.avatar-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.modal-btn {
  margin-top: 20px;
  padding: 10px 20px;
  background: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.modal-btn:hover {
  background: #0056b3;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 500px;
  max-height: 80%;
  overflow-y: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.modal-content h2 {
  margin-bottom: 40px;
}

#photos-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

#photos-list img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
  border: 2px solid transparent;
  cursor: pointer;
}

#photos-list img:hover {
  border-color: #007bff;
}

#photos-list label {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

#photos-list input[type="radio"] {
  margin-top: 5px;
}


.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #007bff;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

textarea {
  width: 94.5%;
  padding: 10px;
  margin: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1em;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  color: #333;
  resize: vertical;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s, box-shadow 0.3s, background-color 0.3s;
}

textarea:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  background-color: #ffffff;
}

.img-search {
  max-width: 100%;
  max-height: 200px;
  margin-top: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.map-iframe {
  width: 100%;
  height: 300px;
  margin-top: 20px;
  border:0;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}